{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                The new collections are here
            </h1>
            <div class="my-5">
                <h4>
                    <a href=""
                        class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Book Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<!-- Code below for treatments snippet and shop snippet adapted from: https://bootsnipp.com/snippets/O54eO -->
<!-- Treatments snippet-->
<div class="container jumbotron my-5">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="{{ MEDIA_URL }}feet-bath.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6">
            <h4>Find rewarding projects</h4>
            <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own
                freelance business.</h4>
            <p class="text-muted">Freedom to work on ideal projects. On GetLance, you run your own business and choose
                your own clients and projects. Just complete your profile and we’ll highlight ideal jobs. Also search
                projects, and respond to client invitations.
                Wide variety and high pay. Clients are now posting jobs in hundreds of skill categories, paying top
                price for great work.
                More and more success. The greater the success you have on projects, the more likely you are to get
                hired by clients that use GetLance.
            </p>
            <div class="text-center my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-2">Book Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- Shop snippet-->
<div class="container jumbotron my-5">
    <div class="row">
        <div class="col-md-6">
            <h4>Get hired quickly</h4>
            <h4 class="subheading">GetLance makes it easy to connect with clients and begin doing great work.</h4>
            <p class="text-muted">Streamlined hiring. GetLance’s sophisticated algorithms highlight projects you’re a
                great fit for.
                Top Rated and Rising Talent programs. Enjoy higher visibility with the added status of prestigious
                programs.
                Do substantial work with top clients. GetLance pricing encourages freelancers to use GetLance for repeat
                relationships with their clients.
            </p>
            <div class="text-center my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-2">Book Now</a>
                </h4>
            </div>
        </div>
        <div class="col-md-6 how-img">
            <img src="{{ MEDIA_URL }}feet-bath.jpg" class="img-fluid" alt="" />
        </div>
    </div>
</div>

<!-- Code below for testimonial snippet adapted from: https://bbbootstrap.com/snippets/bootstrap-5-user-testimonial-star-ratings-51527336 -->
<!-- Testimonial snippet -->
<div class="container my-5">
    <h2 class="text-center text-uppercase">Testimonials Carousel</h2>
    <div class="container jumbotron">
        <div class="row g-2">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="col-md-12">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row g-2">
                                <div class="col-md-4">
                                    <div class="card p-3 text-center px-4">
                                        <div class="user-img">
                                            <img src="{{ MEDIA_URL }}guy-image.png" class="rounded-circle" width="80" alt="Picture of a guy">
                                        </div>
                                        <div class="user-content">
                                            <h3 class="mb-0">Person One</h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
                                                quaerat atque quam similique, quo,
                                                animi!
                                            </p>
                                        </div>
                                        <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card p-3 text-center px-4">
                                        <div class="user-img">
                                            <img src="{{ MEDIA_URL }}girl-image.png" class="rounded-circle" width="80" alt="Picture of a girl">
                                        </div>
                                        <div class="user-content">
                                            <h3 class="mb-0">Person Two</h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
                                                quaerat atque quam similique, quo,
                                                animi!
                                            </p>
                                        </div>
                                        <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card p-3 text-center px-4">
                                        <div class="user-img">
                                            <img src="{{ MEDIA_URL }}guy-image.png" class="rounded-circle" width="80" alt="Picture of a guy">
                                        </div>
                                        <div class="user-content">
                                            <h3 class="mb-0">Person Three</h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
                                                quaerat atque quam similique, quo,
                                                animi!
                                            </p>
                                        </div>
                                        <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card p-3 text-center px-4">
                                        <div class="user-img">
                                            <img src="{{ MEDIA_URL }}guy-image.png" class="rounded-circle" width="80" alt="Picture of a guy">
                                        </div>
                                        <div class="user-content">
                                            <h3 class="mb-0">Person Four</h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
                                                quaerat atque quam similique, quo,
                                                animi!
                                            </p>
                                        </div>
                                        <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card p-3 text-center px-4">
                                        <div class="user-img">
                                            <img src="{{ MEDIA_URL }}girl-image.png" class="rounded-circle" width="80" alt="Picture of a girl">
                                        </div>
                                        <div class="user-content">
                                            <h3 class="mb-0">Person Five</h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
                                                quaerat atque quam similique, quo,
                                                animi!
                                            </p>
                                        </div>
                                        <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card p-3 text-center px-4">
                                        <div class="user-img">
                                            <img src="{{ MEDIA_URL }}guy-image.png" class="rounded-circle" width="80" alt="Picture of a guy">
                                        </div>
                                        <div class="user-content">
                                            <h3 class="mb-0">Person Six</h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
                                                quaerat atque quam similique, quo,
                                                animi!
                                            </p>
                                        </div>
                                        <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div> 
        </div>
    </div>
</div>
{% endblock %}