<br><br>
<footer class="container-fluid text-center footer-wrapper">
    <div class="row no-gutters">
        <div class="col-sm-4 mx-auto">
            <h5 class="logo-font font-weight-bold text-uppercase">Contact Me</h5>
            <p class="in-line-block footer-body">
                Our customer support team is here to help!
                <br />
                Email us at: <a class="footer-links"
                    href="mailto:happyfeets@examplemail.com">contact@happyfeets.com</a>
            </p>
        </div>
        <div class="col-sm-4 mx-auto">
            <h5 class="logo-font font-weight-bold text-uppercase">Visit Me</h5>
            <p class="in-line-block footer-body">
                Address:
            </p>
        </div>
        <div class="col-sm-4 mx-auto">
            <h5 class="logo-font font-weight-bold text-uppercase">Follow Me</h5>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook-f footer-icons" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fab fa-instagram footer-icons" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row no-gutters text-center">
        <div class="col-12">
            <p class="copyright">Copyright &copy; Happy Feets <span id="copyright"></span></p>
        </div>
    </div>
</footer>