{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container jumbotron my-5">
    <div class="row h-100">
        <div class="col-md-6 mt-0">
            <img src="{{ MEDIA_URL }}happywoman.jpg" class="img-fluid rounded-circle" alt="Woman with happy face" />
        </div>
        <div class="col-md-6 my-auto">
            <h4>Hi, I'm Monica.</h4>
            <h4 class="subheading">Something eye cathing to start with.</h4>
            <p class="text-muted">I am a certified medical podiatrist and trained at Axelsons Institut in Stockholm.
                I am a member of the Swedish Podiatrists' National Organization and hold treatment injury insurance.
                I am a trained assistant nurse and have worked at the Orthopedic Clinic Gävle Hospital.
            </p>
            <div class="text-center my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-2">Book Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

                
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}